#header{
   box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
   background-color: #ede8f5;
}
body{
   background-color: #ede8f5;
}
body{
   background-color: #ede8f5;
}
#cards{
   position: relative;
   height: 2620px;
}
.cards{
   height: 500px;
   width: 80%;
   background-color:cornflowerblue;
   left: 10%;
   position: relative;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   padding: 10px;
   align-content: center;
   margin: 20px;
   transition: .3s ease;
   color: white;
}
.cards:hover{
   transform: scale(1.01);
}
#GOA{
   display: flex;
   justify-content: space-around;
   text-align: center;
}
#GOAleft{
   height: 460px;
   width: 50%;
   align-content: center;
   position: relative;
   margin: 10px;
}
#GOAright{
   height: 460px;
   width: 50%;
   position: relative;
   margin: 10px;
   padding: 10px;
}
#GOAright p{
   margin-top: 100px;
   text-align: justify;
}
#AP{
   display: flex;
   justify-content: space-around;
   text-align: center;
}
#APleft{
   height: 460px;
   width: 50%;
   align-content: center;
   position: relative;
   margin: 10px;
}
#APright{
   height: 460px;
   width: 50%;
   position: relative;
   margin: 10px;
   padding: 10px;
}
#APright p{
   margin-top: 100px;
   text-align: justify;
}
#KT{
   display: flex;
   justify-content: space-around;
   text-align: center;
}
#KTleft{
   height: 460px;
   width: 50%;
   align-content: center;
   position: relative;
   margin: 10px;
}
#KTright{
   height: 460px;
   width: 50%;
   position: relative;
   margin: 10px;
   padding: 10px;
}
#KTright p{
   margin-top: 100px;
   text-align: justify;
}
#KL{
   display: flex;
   justify-content: space-around;
   text-align: center;
}
#KLleft{
   height: 460px;
   width: 50%;
   align-content: center;
   position: relative;
   margin: 10px;
}
#KLright{
   height: 460px;
   width: 50%;
   position: relative;
   margin: 10px;
   padding: 10px;
}
#KLright p{
   margin-top: 100px;
   text-align: justify;
}
#TN{
   display: flex;
   justify-content: space-around;
   text-align: center;
}
#TNleft{
   height: 460px;
   width: 50%;
   align-content: center;
   position: relative;
   margin: 10px;
}
#TNright{
   height: 460px;
   width: 50%;
   position: relative;
   margin: 10px;
   padding: 10px;
}
#TNright p{
   margin-top: 100px;
   text-align: justify;
}